ourventure-flask/venv/
venv
venv/*
__pycache__/
**/__pycache__/*
*.py[cod]

ourventure-vue/node_modules/
node_modules
node_modules/*
ourventure-backend/DataPreperation/DataCollections/name_collection_output.json
ourventure-backend/DataPreperation/DataCollections/*.json
ourventure-backend/DataPreperation/DataCollections/*.txt
ourventure-backend/DataPreperation/AI_Data/*.csv
requests_cache.sqlite
**/requests_cache.sqlite